.banner {
	width:998px;
	height:220px;
	background:url(../image/banner10.jpg) top left no-repeat;

}
#body{


background-color:#FFFFFF ;

}

.content{background: #E0F3FF;}

#wrapper{background: #E0F3FF;}















